
.hidden {
    display: none !important;
}


.config-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 22px;
    border-radius: 6px;
    background-color: #2a2d35;
    cursor: pointer;
    transition: all 0.2s ease;
}

.config-btn:hover {
    background-color: #373c47;
}

.sidenav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100% - 40px);
    width: 300px;
    margin: 20px 10px;
    background-color: #2d313a;
    transform: translateX(calc(100% + 10px));
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 1000;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.sidenav.active {
    transform: translateX(-10px);
}

.sidenav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #373c47;
}

.sidenav-title {
    font-weight: bold;
    margin: 0;
}

.sidenav-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: #2a2d35;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sidenav-close:hover {
    background-color: rgb(255, 68, 68);
}

.sidenav-close img {
    height: 10px;
}

.sidenav-section {
    background-color: #2d313a;
}

.sidenav-section-title {
    padding: 10px 15px;
    margin: 0;
    background-color: #434857;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
}

.sidenav-section-content {
    padding: 15px;
}

.method-icon img {
    height: 25px;
    margin-bottom: 5px;
}

.allowed-method {
    padding: 20px;
    background-color: #373d48;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid #3b3f4c;
    cursor: pointer;
    transition: all 0.2s ease;
}

.allowed-method.active,
.allowed-method:hover {
    background-color: #2db4b4;
    border-color: #0000006e;
}

.logged-in-screen,
.registered-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}

.logged-in-screen svg,
.registered-screen svg {
    color: #2db4b4;
}

.logged-in-screen p,
.registered-screen p {
    margin: 30px 0;
    max-width: 340px;
    text-align: center;
    font-size: 20px;
}

.logout-btn {
    background-color: rgb(255, 62, 62);
    border-radius: 6px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logout-btn:hover {
    background-color: rgb(212, 52, 52);
}

.form {
    width: 100%;
}

@media (max-width: 540px) {
    .config-btn {
        position: static;
        width: calc(100% - 26px);
        text-align: center;
        margin: 13px 0;
    }
}
